[submodule "efm32-base"]
	path = efm32-base
	url = https://github.com/ryankurte/efm32-base.git
[submodule "xmodem"]
	path = xmodem
	url = https://github.com/Thuffir/xmodem.git
[submodule "sgp4sdp4"]
	path = sgp4sdp4
	url = https://github.com/KJ7LNW/sgp4sdp4.git
